* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

/* HEADER */
#header {
  padding: 30px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav a {
  font-size: 22px;
  font-weight: 700;
  color: #696871;
  margin: 0 30px;
}
.header button {
  background: #ff7143;
  color: white;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 14px 45px;
  border: 2px solid white;
  transition: 0.8s;
  /* transform: translateX(); */
}
.header-menu {
  font-size: 35px;
  color: #1d293f;
  display: none;
}
.header button:hover {
  background: transparent;
  color: #ff7143;
  border: 2px solid #ff7143;
  transform: scale(1.1);
}
/* HEADER */

/* HERO */

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-text h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -2.5010533332824707px;
}
.hero-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6252632141113281px;
  color: rgba(0, 0, 0, 0.458);
}
.hero-text button {
  border-radius: 10px;
  color: white;
  background: #5454d4;
  width: 211px;
  height: 60px;
  font-size: 17px;
  font-weight: 700;
  border: none;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* HERO */

/* INDEX */
.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-text {
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 30px;
}

.index-text h1 {
  font-size: 50px;
}
.index-text p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.458);
  line-height: 27px;
}
/* INDEX */

.metrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PRODUCT */
#product {
  padding: 60px 0;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card {
  width: 330px;
  height: 441px;
  background: #e6e6e6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.8s;
}
.product-card:hover {
  background: #ff7143;
  transform: scale(1.1);
}
.product-card:hover h1 {
  color: white;
}
.product-card:hover h4 {
  color: white;
}
.product-card h4 {
  color: #696871;
  font-size: 20px;
  font-weight: 400;
  transition: 0.8s;
}
.product-card h1 {
  color: #1d293f;
  font-size: 50px;
  transition: 0.8s;
}
.product-card button {
  width: 80%;
  height: 50px;
  background: white;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  color: #5454d4;
  font-weight: 700;
  transition: 0.8s;
}
.product-card button:hover {
  color: white;
  background: #9f3919;
}
/* PRODUCT */

/* BLOCKS */
#blocks {
  padding: 60px 0;
}
.blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block {
  text-align: center;
}
.block:hover img {
  transform: translateY(-80px);
}
.block img {
  width: 140px;
  transition: 0.8s;
}
.block h1 {
  margin: 15px 0;
}
.block p {
  font-size: 16px;
  color: #696871;
}
/* BLOCKS */

/* MEDIA */
@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
  .hero-main {
    width: 50%;
  }
  .product-card {
    width: 310px;
  }
  .header button {
    font-size: 19px;
    padding: 10px 20px;
  }
}

@media (max-width: 1000px) {
  .header-nav a {
    font-size: 18px;
    margin: 0px 24px;
  }
  .hero-text {
    h1 {
      font-size: 65px;
      line-height: 60px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .index-text {
    gap: 15px;
    padding: 0;
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
      line-height: 27px;
    }
  }
  .block p {
    font-size: 14px;
    color: #696871;
    line-height: 25px;
  }
  .product-card {
    width: 280px;
    h1 {
      color: #1d293f;
      font-size: 40px;
      transition: 0.8s;
    }
  }
  .metrics {
    img {
      width: 30%;
    }
  }
  .index {
    img {
      width: 30%;
    }
  }
}

@media (max-width: 900px) {
  .header {
    img {
      width: 20%;
    }
    button {
      font-size: 15px;
    }
  }
  .header-nav a {
    margin: 0px 15px;
  }
  .hero-text {
    h1 {
      font-size: 55px;
      line-height: 50px;
    }
    button {
      width: 170px;
      height: 50px;
    }
  }
  .block p {
    font-size: 10px;
    color: #696871;
    line-height: 17px;
  }
  .product-card {
    width: 250px;
    height: 370px;
  }
}

@media (max-width: 800px) {
  .product-card {
    width: 220px;
    height: 320px;
    h1 {
      font-size: 30px;
    }
    h4 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
      height: 40px;
    }
  }
}

@media (max-width: 700px) {
  .header-nav a {
    font-size: 14px;
  }
  .header {
    button {
      font-size: 13px;
      padding: 5px 10px;
    }
  }
  #hero {
    margin: 30px 0;
  }
  .hero-text {
    h1 {
      font-size: 45px;
      line-height: 45px;
    }
    p {
      font-size: 16px;
    }
    button {
      width: 150px;
      height: 40px;
    }
  }
  .hero-button {
    img {
      width: 15%;
    }
  }
  .product-card {
    width: 200px;
    height: 310px;
  }
  #blocks {
    padding: 30px 0;
  }
}

@media (max-width: 600px) {
  .index-text {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .block p {
    font-size: 9px;
  }
  .product-card {
    width: 170px;
    height: 290px;
  }
}

@media (max-width: 500px) {
  .header {
    img {
      width: 35%;
    }
    button {
      display: none;
    }
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-main {
    width: 65%;
  }
  .hero-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index {
    flex-direction: column;
    margin-bottom: 30px;
    img {
      width: 45%;
      margin-bottom: 30px;
    }
  }
  .index-text {
    text-align: center;
  }
  .metrics {
    flex-direction: column-reverse;
  }
  .block {
    img {
      width: 101px;
    }
    h1 {
      font-size: 18px;
      margin: 5px 0;
    }
    p {
      font-size: 7px;
    }
  }
  .product-card {
    width: 140px;
    height: 270px;
    h1 {
      font-size: 20px;
    }
    h4 {
      font-size: 13px;
    }
    button {
      font-size: 14px;
      height: 35px;
    }
  }
}
@media (max-width: 480px) {
  .product {
    flex-direction: column;
  }
  .product-card {
    width: 80%;
    height: 370px;
    margin-bottom: 30px;
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }
    button {
      font-size: 20px;
      height: 50px;
    }
  }
}
@media (max-width: 460px) {
  .blocks {
    flex-direction: column;
  }
  .block {
    margin-bottom: 30px;
    img {
      width: 50%;
    }

    h1 {
      font-size: 25px;
      margin: 10px 0;
    }
    p {
      font-size: 13px;
      line-height: 24px;
    }
  }
  .block:hover img {
    transform: translateY(-30px);
  }
}
@media (max-width: 370px) {
  #hero {
    margin: 0 0 40px 0;
  }
  .header {
    img {
      width: 45%;
    }
  }
  #product {
    padding: 0;
  }
}
/* MEDIA */
